<% var data = {
title: "Для каждой страницы свой заголовок",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main__page">
  <div class="container">
    <section class="preview">
      <div class="preview__top">
        <h1 class="preview__top-title main-title">Лазерная коррекция зрения в Караганде</h1>
        <p class="preview__top-text">За 5 минут современными методами. Безболезненно и эффективно</p>
      </div>
      <img src="img/background1.png" alt="background" class="preview__bg">
      <div class="preview__bottom">
        <p class="preview__bottom-title">Елена Бахтияровна</p>
        <p class="preview__bottom-text">Кандидат медицинских наук. Офтальмолог с 1995 года. Хирург с опытом более 30 тысяч операций</p>
      </div>
      <button class="preview__btn main-btn">Получить консультацию</button>
    </section>
    <section class="advantage">
      <a href="./service.html" class="advantage__item ">
        <img src="img/item-1.svg" alt="img" class="advantage__item-image">
        <span class="advantage__item-text">Лазерная коррекция зрения</span>
      </a>
      <a href="./service.html" class="advantage__item">
        <img src="img/item-2.svg" alt="img" class="advantage__item-image">
        <span class="advantage__item-text">Безболезненное лечение катаракты</span>
      </a>
      <a href="./service.html" class="advantage__item">
        <img src="img/item-3.svg" alt="img" class="advantage__item-image">
        <span class="advantage__item-text">Детская офтальмология</span>
      </a>
    </section>
    <section class="main-services" id="main_services">
      <h2 class="main-services__title main-title">Качественное лечение и точная диагностика зрения</h2>
      <div class="scroll-wrapper">
        <div class="scroll-block">
          <div class="main-services__filter tab">
            <div class="main-services__filter-item tab-item active">
              Коррекция зрения
            </div>
            <div class="main-services__filter-item tab-item">
              Глазная Хирургия
            </div>
            <div class="main-services__filter-item tab-item">
              Диагностика
            </div>
          </div>
        </div>
      </div>

      <div class="main-services__list">
        <div class="main-services__wrapper">
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
          <div class="main-services__list-item">
            <img src="img/star.svg" alt="icon" class="main-services__list-decor">
            <h3 class="main-services__list-title second-title">Коррекция зрения</h3>
            <p class="main-services__list-text">Три строки либо меньше, три строки текста и скрываем в троеточие, Три строки либо меньше, три строки текста и скрываем в троеточие Три строки либо меньше, три... строки текста и скрываем в троеточиеТри строки либо меньше, три строки текста и скрываем в троеточие Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...</p>
            <a href="#" class="main-services__list-link">Подробнее</a>
          </div>
        </div>
      </div>
      <button class="main-services__btn main-btn">
        <span class="main-services__btn-title-1">Показать все услуги</span>
        <span class="main-services__btn-title-2">Скрыть услуги</span>
      </button>
    </section>
    <section class="form">
      <h2 class="form__title main-title">Мы свяжемся с Вами и проконсультируем!</h2>
      <div class="form__background">
        <img src="img/formbg1.png" alt="img" class="form__background-img">
      </div>
      <form class="form__body" id="main_form" action="#" method="post">
        <input type="tel" name="phone" class="input-primary" placeholder="Ваш телефон" required>
        <input type="text" name="email" class="input-primary" placeholder="Ваш E-mail">
        <textarea name="comment" class="textarea" rows="1" placeholder="Ваш Комментарий"></textarea>
        <div class="form__btn-block">
          <label for="upload" class="upload">
            <span class="upload__icon"></span>
            <span id="file-name" class="upload__name fileName">Прикрепить заявку</span>
            <input hidden id="upload" class="inputFile" type="file" name="userfile" size="40"
                   accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
          </label>
          <button class="submit" type="submit">Отправить</button>
        </div>
      </form>
    </section>
    <section class="features">
      <h2 class="features__title main-title">Центр офтальмологии «ГлазоЛик»</h2>
      <div class="features__tab tab">
        <span class="features__tab-item tab-item" data-item="1">Врачи</span>
        <span class="features__tab-item tab-item" data-item="2">Оснащение</span>
        <span class="features__tab-item tab-item" data-item="3">Центр</span>
        <span class="features__tab-item tab-item" data-item="4">Отзывы</span>
      </div>
      <div class="features__slider-wrapper">
        <div class="features__slider tab__slider" data-item="1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Врач-офтальмолог</span>
                  <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Врач-офтальмолог</span>
                  <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                  <p class="tab__slider-text">
                    Окончила  лечебный факультет КГМИ  в 1995 год
                    После обучения в клинической ординатуре при кафедре глазных болезней (1995-1997 гг) работала в отделении неотложной офтальмотравматологической помощи,  далее  в Диагностическом центре.
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Врач-офтальмолог</span>
                  <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Врач-офтальмолог</span>
                  <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab__slider-prev slider-prev">
            <div class="prev-btn"></div>
          </div>
          <div class="tab__slider-next slider-next">
            <div class="next-btn"></div>
          </div>
        </div>
        <div class="features__slider tab__slider" data-item="2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какой то инструмент 1</span>
                  <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какой то инструмент 1</span>
                  <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какой то инструмент 1</span>
                  <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какой то инструмент 1</span>
                  <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab__slider-prev slider-prev">
            <div class="prev-btn"></div>
          </div>
          <div class="tab__slider-next slider-next">
            <div class="next-btn"></div>
          </div>
        </div>
        <div class="features__slider tab__slider" data-item="3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/about-main1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какое то описание 1</span>
                  <h3 class="tab__slider-title second-title">Какой то заголовок</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/about-main1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какое то описание 1</span>
                  <h3 class="tab__slider-title second-title">Какой то заголовок</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/about-main1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какое то описание 1</span>
                  <h3 class="tab__slider-title second-title">Какой то заголовок</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab__slider-item">
                <img src="img/about-main1.png" alt="img" class="tab__slider-img">
                <div class="tab__slider-desc">
                  <span class="tab__slider-name">Какое то описание 1</span>
                  <h3 class="tab__slider-title second-title">Какой то заголовок</h3>
                  <p class="tab__slider-text">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское.
                    Обучалась в Карагандинском государственном медицинском университете.
                    В 2012 году присуждена академическая степень «бакалавр медицины» по
                    специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина»,
                    присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                    по специальности «Офтальмология, в том числе детская»
                  </p>
                  <a href="./doctors.html" class="tab__slider-link">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab__slider-prev slider-prev">
            <div class="prev-btn"></div>
          </div>
          <div class="tab__slider-next slider-next">
            <div class="next-btn"></div>
          </div>
        </div>
        <div class="features__slider reviews" data-item="4">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__slide">
                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                <div class="reviews__desc">
                  <span class="reviews__date">12. 20. 22</span>
                  <span class="second-title reviews__name">Сычева Виктория Анатольевна</span>
                  <p class="reviews__paragraph">
                    Спасибо!
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__slide">
                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                <div class="reviews__desc">
                  <span class="reviews__date">12. 20. 22</span>
                  <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                  <p class="reviews__paragraph">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__slide">
                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                <div class="reviews__desc">
                  <span class="reviews__date">12. 20. 22</span>
                  <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                  <p class="reviews__paragraph">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                    Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                    В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__slide">
                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                <div class="reviews__desc">
                  <span class="reviews__date">12. 20. 22</span>
                  <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                  <p class="reviews__paragraph">
                    Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__prev slider-prev">
            <div class="prev-btn"></div>
          </div>
          <div class="reviews__next slider-next">
            <div class="next-btn"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="meta">
      <h2 class="meta__title main-title">Вас может заинтересовать</h2>
      <img src="img/eye-down.svg" alt="img" class="meta__background">
      <div class="meta__block">
        <div class="meta__block-wrapper">
          <a href="./services.html" class="meta__link">Лечение близорукости</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение близорукости</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение близорукости</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
          <a href="./services.html" class="meta__link">Лечение катаракты</a>
        </div>
      </div>
      <button class="meta__btn main-btn">
        <span class="meta__btn-title-1">Показать eще</span>
        <span class="meta__btn-title-2">Скрыть</span>
      </button>
    </section>
  </div>
</main>
<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

