<% var data = {
title: "Для каждой страницы свой заголовок",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="service__page">
    <div class="container">
        <section class="preview">
            <div class="preview__top">
                <h1 class="preview__top-title main-title">Восстановление зрения без боли И госпитализации!</h1>
                <img src="img/main-img.svg" alt="img" class="preview__top-img">
            </div>
            <img src="img/answers-bg.png" alt="background" class="preview__bg">
            <div class="preview__bottom">
                <div class="preview__bottom-wrap">
                    <span class="preview__bottom-item-1">15</span>
                    <span class="preview__bottom-item-2">минут</span>
                </div>
                <span class="preview__bottom-item-3">Всего 15 минут с помощью безопасной лазерной хирургии</span>
            </div>
            <a href="#service_block" class="preview__btn main-btn">Смотрите подробнее</a>
        </section>
        <section class="advantage">
            <div class="advantage__item">
                <img src="img/services-advant1.png" alt="img" class="advantage__item-image">
                <span class="advantage__item-text">Преимущество Выбранной услуги</span>
            </div>
            <div class="advantage__item">
                <img src="img/services-advant2.png" alt="img" class="advantage__item-image">
                <span class="advantage__item-text">Преимущество Выбранной услуги</span>
            </div>
            <div class="advantage__item">
                <img src="img/services-advant3.png" alt="img" class="advantage__item-image">
                <span class="advantage__item-text">Преимущество Выбранной услуги</span>
            </div>
        </section>
        <section class="service__block" id="service_block">
            <h2 class="service__title main-title">Заголовок блока выбранной услуги</h2>
            <div class="service__tab tab">
                <span class="service__tab-item tab-item" data-item="1">Коррекция зрения</span>
                <span class="service__tab-item tab-item" data-item="2">Отзывы после Lasic</span>
                <span class="service__tab-item tab-item" data-item="3">Врачи</span>
                <span class="service__tab-item tab-item" data-item="4">Оснащение</span>
            </div>
            <div class="service__slider-wrapper">
                <div class="service__slider service__desc-item active" data-item="1">
                    <div class="service__desc">
                        <h3 class="service__desc-title">Коррекция зрения</h3>
                        <p class="service__desc-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="#" class="card-link">Подробнее</a>
                        <div class="tooltip">
                            <img src="img/tools2.jpg" alt="img" class="tooltip__thumb">
                            <span class="tooltip__text">
                        <span>Какая - то памятка</span>
                         - в виде обычного текста, будет на каждой услуге.
                        Это полезный И необходимый контент. В каждом, конкретном случае,
                        он может быть разным.Например, поставим цены или рекомендации по услуге.
                    </span>
                        </div>
                    </div>
                    <form class="second__form service__form" id="second-form" method="post">
                        <h2 class="second__form-title main-title">Запишитесь на прием</h2>
                        <input type="tel" class="input-second" placeholder="Ваш телефон" required>
                        <input type="email" class="input-second" placeholder="Ваш E-mail">
                        <label for="service_file" class="upload">
                            <span class="upload__icon"></span>
                            <span id=" " class="upload__name fileName">Прикрепить заявку</span>
                            <input hidden id="service_file" class="inputFile" type="file" name="userfile" size="40"
                                   accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                        </label>
                        <button class="submit" type="submit">Записаться</button>
                    </form>
                </div>
                <div class="service__slider reviews" data-item="2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                                <div class="reviews__desc">
                                    <span class="reviews__date">12. 20. 22</span>
                                    <span class="second-title reviews__name">Сычева Виктория Анатольевна</span>
                                    <p class="reviews__paragraph">
                                        Спасибо!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                                <div class="reviews__desc">
                                    <span class="reviews__date">12. 20. 22</span>
                                    <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                                    <p class="reviews__paragraph">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                                <div class="reviews__desc">
                                    <span class="reviews__date">12. 20. 22</span>
                                    <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                                    <p class="reviews__paragraph">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина», присвоена квалификация врача хирурга. В 2017 году окончила резидентуру по специальности «Офтальмология, в том числе детская»
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <img src="img/doctor5.jpg" alt="img" class="slide-img">
                                <div class="reviews__desc">
                                    <span class="reviews__date">12. 20. 22</span>
                                    <span class="reviews__name second-title">Сычева Виктория Анатольевна</span>
                                    <p class="reviews__paragraph">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское. Обучалась в Карагандинском государственном медицинском университете. В 2012 году присуждена академическая степень «бакалавр медицины» по специальности «Общая медицина».
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__prev slider-prev">
                        <div class="prev-btn"></div>
                    </div>
                    <div class="reviews__next slider-next">
                        <div class="next-btn"></div>
                    </div>
                </div>
                <div class="service__slider tab__slider  active" data-item="3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Врач-офтальмолог</span>
                                    <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/doctor2.png" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Врач-офтальмолог</span>
                                    <h3 class="tab__slider-title second-title">Баймуханова Елена Бахтияровна</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/doctor1.png" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Врач-офтальмолог</span>
                                    <h3 class="tab__slider-title second-title">Журбина Анастасия Анатольевна</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/doctor2.png" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Врач-офтальмолог</span>
                                    <h3 class="tab__slider-title second-title">Баймуханова Елена Бахтияровна</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab__slider-prev slider-prev">
                        <div class="prev-btn"></div>
                    </div>
                    <div class="tab__slider-next slider-next">
                        <div class="next-btn"></div>
                    </div>
                </div>
                <div class="service__slider tab__slider" data-item="4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Какой то инструмент 1</span>
                                    <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Какой то инструмент 1</span>
                                    <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Какой то инструмент 1</span>
                                    <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab__slider-item">
                                <img src="img/tools1.jpg" alt="img" class="tab__slider-img">
                                <div class="tab__slider-desc">
                                    <span class="tab__slider-name">Какой то инструмент 1</span>
                                    <h3 class="tab__slider-title second-title">Какое то название инструмента</h3>
                                    <p class="tab__slider-text">
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                        Специальность: врач-офтальмолог. Образование: высшее медицинское.
                                        Обучалась в Карагандинском государственном медицинском университете.
                                        В 2012 году присуждена академическая степень «бакалавр медицины» по
                                        специальности «Общая медицина».
                                        В 2014 году окончила интернатуру по специальности «Общая медицина»,
                                        присвоена квалификация врача хирурга. В 2017 году окончила резидентуру
                                        по специальности «Офтальмология, в том числе детская»
                                    </p>
                                    <a href="#" class="tab__slider-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab__slider-prev slider-prev">
                        <div class="prev-btn"></div>
                    </div>
                    <div class="tab__slider-next slider-next">
                        <div class="next-btn"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="popular">
            <h2 class="popular__title main-title">Популярные услуги</h2>
            <div class="popular__block">
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
                <a href="#" class="popular__item">Коррекция зрения</a>
            </div>
        </section>
        <section class="form">
            <h2 class="form__title main-title">Мы свяжемся с Вами и проконсультируем!</h2>
            <div class="form__background">
                <img src="img/formbg2.png" alt="img" class="form__background-img">
            </div>
            <form class="form__body" id="main_form" action="#" method="post">
                <input type="tel" name="phone" class="input-primary" placeholder="Ваш телефон" required>
                <input type="text" name="email" class="input-primary" placeholder="Ваш E-mail">
                <textarea name="comment" class="textarea" rows="1" placeholder="Ваш Комментарий"></textarea>
                <div class="form__btn-block">
                    <label for="upload" class="upload">
                        <span class="upload__icon"></span>
                        <span id="file-name" class="upload__name fileName">Прикрепить заявку</span>
                        <input hidden id="upload" class="inputFile" type="file" name="userfile" size="40"
                               accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                    </label>
                    <button class="submit" type="submit">Отправить</button>
                </div>
            </form>
        </section>
        <section class="questions">
            <h2 class="questions__title main-title">Ответы на часто задаваемые вопросы</h2>
            <div class="questions__tab tab">
                <span class="questions__tab-item tab-item" data-item="1">Коррекция зрения</span>
                <span class="questions__tab-item tab-item" data-item="2">Скорректировать зрение</span>
                <span class="questions__tab-item tab-item" data-item="3">Рекомендации после Lasic</span>
            </div>
            <div class="questions__list questions__list-1" data-item="1">
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
            </div>
            <div class="questions__list questions__list-2" data-item="2">
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
            </div>
            <div class="questions__list questions__list-3" data-item="3">
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
                <div class="questions__list-item">
                    <h3 class="questions__item-title second-title">Коррекция Зрения по методу Lasic безопасна ?</h3>
                    <div class="questions__item-text">
                        <span class="questions__text-title">Ответ</span>
                        <p class="questions__text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <button class="questions__btn-open"><span>Смотреть</span></button>
                    <button class="questions__btn-close"><span>Закрыть</span></button>
                </div>
            </div>
        </section>
        <section class="meta">
            <h2 class="meta__title main-title">Вас может заинтересовать</h2>
            <img src="img/eye-down.svg" alt="img" class="meta__background">
            <div class="meta__block">
                <div class="meta__block-wrapper">
                    <a href="./services.html" class="meta__link">Лечение близорукости</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение близорукости</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение близорукости</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                    <a href="./services.html" class="meta__link">Лечение катаракты</a>
                </div>
            </div>
            <button class="meta__btn main-btn">
                <span class="meta__btn-title-1">Показать eще</span>
                <span class="meta__btn-title-2">Скрыть</span>
            </button>
        </section>
    </div>
</main>
<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>