@import "color.scss";

button.main-btn {
  padding: 25px 40px;
  border-radius: 90px;
  background: $main-btn;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  color: $text-main;
  &:hover{
    transform: scale(1.04);
    box-shadow: 0 4.16px 41.6px 0 rgba(248, 140, 64, 0.2);
  }
  @media screen and (max-width: 767px) {
    padding: 15px 25px;
    border-radius: 33px;
    font-size: 1.6rem;
  }
}

button.second-btn {
  padding: 16px 32px;
  border-radius: 90px;
  background-color: $secondary-btn;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  color: $text-main;
  &:hover{
    background-color: $orange-color;
  }
  @media screen and (max-width: 767px) {
    background-color: $orange-color;
    &:hover{
      box-shadow: 0 4.16px 41.6px 0 rgba(248, 140, 64, 0.2);
    }
  }
}

//.main-btn {
//  align-items: center;
//  justify-content: center;
//  color: $orange-color;
//  font-size: 1.6rem;
//  border: 2px solid $orange-color;
//  background-color: $white-color;
//  cursor: pointer;
//  transition: .3s;
//
//  &:hover {
//    border: 2px solid $green-color;
//    color: $green-color;
//  }
//}
//
//.close-btn {
//  cursor: pointer;
//  transition: .3s;
//
//  &:before,
//  &:after {
//    content: '';
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    width: 15px;
//    height: 3px;
//    border-radius: 2px;
//    background-color: $white-color;
//  }
//
//  &:before {
//    transform: translate(-50%, -50%) rotate(45deg);
//  }
//
//  &:after {
//    transform: translate(-50%, -50%) rotate(-45deg);
//  }
//}
//
//.telegram,
//.whatsapp,
//.instagram {
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 50px;
//  height: 50px;
//  border-radius: 50%;
//  border: 2px solid $orange-color;
//
//  &:before {
//    content: '';
//    display: block;
//    position: absolute;
//    background-repeat: no-repeat;
//    background-size: contain;
//    width: 23px;
//    height: 23px;
//    transition: .3s;
//  }
//
//  &:hover {
//    &:before {
//      transform: scale(1.2);
//    }
//  }
//}
//
//.telegram {
//  &:before {
//    background-image: url("../img/telegram.svg");
//  }
//}
//
//.whatsapp {
//  &:before {
//    background-image: url("../img/whatsapp.svg");
//  }
//}
//
//.instagram {
//  &:before {
//    background-image: url("../img/instagram.svg");
//  }
//}
//
//.meta-link {
//  display: flex;
//  justify-content: center;
//  text-align: center;
//  align-items: center;
//  padding: 15px 20px;
//  border-radius: 35px;
//  border: 1px solid $text-color;
//  font-size: 1.8rem;
//  margin-bottom: 20px;
//  @media screen and (max-width: 767px) {
//    font-size: 1.6rem;
//  }
//}
