$orange-color: #ff8636;
$text-color: #858585;
$green-color: #43b265;
$block-shadow: 0 0 38px 0 rgba(92, 92, 92, 0.16);
$inset-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.1);
$grey-border: #cdcdcd;
$input-color: #f7f7f7;
$white-color: #FFF;
$border: #e1e1e1;
$title-color: #515151;
//////////
$body-color: #0C1226;
$orange-color: #FC8C40;
$green-color: #207953;

$text-main: #FFF;
$text-opacity: rgba(255, 255, 255, .8);

$main-btn: linear-gradient(270.00deg, rgb(32, 121, 83) 0.002%,rgb(231, 138, 65) 61.18%,rgb(255, 140, 63) 99.998%);
$secondary-btn: #0C1226;