@import "color.scss";

.services {

  &__block {
    position: relative;
    padding-top: 140px;
    padding-bottom: 50px;
    @media screen and (max-width: 1600px) {
      padding-top: 130px;
    }
    @media screen and (max-width: 1400px) {
      padding-top: 80px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 90px;
    @media screen and (max-width: 1600px) {
      margin-bottom: 115px;
    }
    @media screen and (max-width: 1400px) {
      max-width: 470px;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 90px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__decor {
    position: absolute;
    top: 45px;
    right: 0;
    width: 190px;
    height: 190px;
    object-fit: contain;
    @media screen and (max-width: 1600px) {
      top: 20px;
    }
    @media screen and (max-width: 1400px) {
      top: 40px;
    }
    @media screen and (max-width: 1199px) {
      width: 165px;
      height: 165px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__list {
    margin-bottom: 50px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 30px;
    border-top: 2px solid $border;
    &:last-child {
      border-bottom: 2px solid $border;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: start;
      padding: 30px 0;
    }
  }

  &__item-title {
    max-width: 420px;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 50px;
    border-radius: 25px;
    color: $green-color;
    font-size: 1.6rem;
    font-weight: 400;
    border: 2px solid $green-color;
    background-color: $white-color;
    cursor: pointer;
    transition: .3s;
    &:hover {
      border: 2px solid $orange-color;
      color: $orange-color;
    }
    @media screen and (max-width: 767px) {
      width: 280px;
      margin-top: 30px;
    }
  }

  &__pagination {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 35px;
    padding: 0 75px;
    margin-top: 60px;
    @media screen and (max-width: 1199px) {
      margin: 50px auto 0;
    }
    @media screen and (max-width: 767px) {
      padding: 0 55px;
      margin-top: 45px;
    }
    @media screen and (max-width: 425px) {
      padding: 0 65px;
    }
  }

  &__pagination-prev {
    display: block;
    left: 0;
  }

  &__pagination-next {
    display: block;
    right: 0;
  }

  &__pagination-num {
    font-size: 2.4rem;
    padding: 0 14px;
    transition: .3s;
    &.active {
      color: $orange-color;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.8rem;
    }
  }
}